    @font-face {
        font-family: 'OpenSans';
        src: url(../fonts/OpenSans-Light.ttf);
        font-weight: 300;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'OpenSans';
        src: url(../fonts/OpenSans-Regular.ttf);
        font-weight: 400;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'OpenSans';
        src: url(../fonts/OpenSans-SemiBold.ttf);
        font-weight: 600;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'OpenSans';
        src: url(../fonts/OpenSans-Bold.ttf);
        font-weight: 700;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'OpenSans';
        src: url(../fonts/OpenSans-ExtraBold.ttf);
        font-weight: 800;
        font-style: normal;
    }
    
    .implant-wrapper * {
        box-sizing: border-box;
        font-size: 16px;
        color: #4D4D4D;
        font-family: "OpenSans", sans-serif;
    }
    
    .h3 {
        margin-bottom: 20px;
    }
    
    .button-default {
        padding: 7px 44px;
        background: #00A5C2;
        border: 3px solid #00A5C2;
        box-sizing: border-box;
        border-radius: 3px;
        color: #FFFFFF;
        cursor: pointer;
        text-align: center;
    }
    
    .inplant-button-center {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    
    .button-default:hover {
        cursor: pointer;
        background: #00779C;
        border: 3px solid #00779C;
    }
    
    .button-blank {
        padding: 7px 44px;
        background: transparent;
        border: none;
        outline: none;
        color: #00A5C2;
        cursor: pointer;
        text-align: center;
    }
    
    .button-blank:hover {
        background: transparent;
        border: none;
        outline: none;
        color: #00779C;
    }
    
    .implant-banner {
        background-repeat: no-repeat;
        background-position: center center;
        height: 500px;
    }
    
    .implant-banner-top {
        background-image: url('../picture/banner-top.png');
        margin-bottom: 80px;
    }
    
    .implant-banner h2 {
        font-style: normal;
        font-weight: 600;
        font-size: 2.625em;
        line-height: 135%;
        color: #333333;
    }
    
    .implant-banner p {
        font-style: normal;
        font-weight: normal;
        margin-bottom: 35px;
        font-size: 1.125em;
        line-height: 150%;
        color: #333333;
    }
    
    .implant-banner span {
        font-style: normal;
        font-weight: normal;
        font-size: 0.75em;
        line-height: 150%;
        color: #333333;
    }
    
    .implant-banner-top-content {
        margin-left: 8.6%;
        padding-top: 90px;
        width: 50%;
    }
    
    .implant-banner-top-content p {
        margin-top: 30px;
    }
    
    .implant-wrapper h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 1.75em;
        line-height: 38px;
        text-align: center;
        margin-bottom: 50px;
    }
    
    .implant-inner-block {
        padding: 0 8.5%;
    }
    
    .imlant-color-block {
        background-color: #E9F4FF;
        padding: 30px 8.5%;
    }
    
    .implant-price {
        position: relative;
        padding-left: 0;
    }
    
    .implant-price-element {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-left: 8.5%;
        padding-right: 8.5%;
        position: relative;
        padding-top: 24px;
        padding-bottom: 24px;
        font-weight: 600;
    }
    
    .implant-price::before {
        content: "";
        height: 1px;
        width: 100%;
        background-color: #D4D4D4;
        display: block;
        position: absolute;
    }
    
    .implant-price-element::after {
        content: "";
        height: 1px;
        width: 100%;
        background-color: #D4D4D4;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    .implant-price-element-parent {
        flex-direction: column;
        padding: 0;
    }
    
    .implant-price-element>ul>.implant-price-element {
        padding-left: calc(8.5% + 15px);
        position: relative;
    }
    
    .implant-price-element>ul>.implant-price-element:before {
        content: '';
        width: 5px;
        height: 5px;
        background: #4D4D4D;
        border-radius: 50%;
        position: absolute;
        left: 8.5%;
        top: 33px;
    }
    
    .implant-price-element>ul>.implant-price-element>.implant-price-name {
        font-weight: normal;
        color: #4D4D4D;
    }
    
    .implant-price-element-parent>.implant-price-name {
        padding-left: 8.5%;
        padding-right: 8.5%;
        padding-top: 24px;
        padding-bottom: 24px;
        font-weight: bold;
        color: #00779C;
    }
    
    .implant-price-price {
        color: #00779C;
        white-space: nowrap;
    }
    
    .implant-stage-number {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border-color: #00779C;
        background-color: #00779C;
        color: #FFFFFF;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .implant-stages {
        display: flex;
        margin: 40px 0;
    }
    
    .implant-stage {
        background-color: #FFFFFF;
        padding: 20px;
    }
    
    .implant-stage:nth-of-type(even) {
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .implant-stage-title {
        font-weight: 600;
        color: #00779C;
        margin: 20px 0;
        font-size: 0.875em;
    }
    
    .implant-stage-description {
        font-size: 0.875em;
    }
    
    .implant-testimony>h6 {
        font-weight: 600;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    
    .implant-icon-testimony-list {
        display: flex;
        list-style-type: none;
        justify-content: center;
        width: 100%;
        padding-left: 0px;
    }
    
    .implant-icon-testimony-item {
        width: 217px;
        text-align: center;
        margin: 0 auto;
    }
    
    .implant-icon-testimony {
        text-decoration: none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 60px;
        margin-bottom: 30px;
    }
    
    .implant-icon-warning-block {
        display: flex;
    }
    
    .implant-icon-warning {
        background-image: url(../icon/warning.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 50px;
        height: 50px;
        padding-right: 70px;
    }
    
    .implant-type-description {
        font-family: "OpenSans";
        font-style: normal;
        font-weight: normal;
        font-size: 0.75em;
        line-height: 160%;
        color: #4D4D4D;
        height: 210px;
    }
    
    .implant-type-price {
        color: #00A5C2;
    }
    
    .implant-type {
        margin-top: 30px;
        padding-bottom: 30px;
        position: relative;
    }
    
    .implant-type:not(:last-child)::after {
        content: "";
        height: 1px;
        width: 100%;
        background-color: #D4D4D4;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    .icon-one-tooth {
        background-image: url(../icon/tooth2.svg);
    }
    
    .icon-one-crown {
        background-image: url(../icon/crown1.svg);
    }
    
    .icon-one-dentures {
        background-image: url(../icon/dentures1.svg);
    }
    
    .icon-one-dentures-glass {
        background-image: url(../icon/dentures5.svg);
    }
    
    .implant-icon-calendar {
        background-image: url(../icon/calendar1.svg);
    }
    
    .implant-icon-doctor {
        background-image: url(../icon/dentist1.svg);
    }
    
    .implant-icon-moneybox {
        background-image: url(../icon/piggy-bank1.svg);
    }
    
    .implant-icon-diamond {
        background-image: url(../icon/diamond1.svg);
    }
    
    .implant-icon-security {
        background-image: url(../icon/shield1.svg);
    }
    
    .implant-icon-assurance {
        background-image: url(../icon/guarantee1-1.svg);
    }
    /* Стили для slick slider */
    
    .implant-wrapper .slick-arrow {
        width: 28px;
        height: 28px;
        color: transparent;
    }
    
    .implant-wrapper .slick-arrow:before {
        content: '';
        position: absolute;
        width: 28px;
        height: 28px;
        left: 0;
        top: 0;
    }
    
    .implant-wrapper .slick-prev {
        left: -55px;
    }
    
    .implant-wrapper .slick-next {
        right: -55px;
    }
    
    .implant-wrapper .slick-prev:before {
        background: url(../picture/car-left.png) no-repeat 0 0;
    }
    
    .implant-wrapper .slick-next:before {
        background: url(../picture/car-right.png) no-repeat 0 0;
    }
    /* */
    
    .implant-benefits {
        height: 190px;
        margin-bottom: 30px;
    }
    
    .implant-icon-benefits {
        height: 60px;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 30px;
    }
    
    .implant-icon-title {
        font-weight: 600;
        text-align: center;
    }
    
    .implant-inner-block h6 {
        font-weight: 700;
        color: #00779C;
    }
    
    .implant-q-a {
        position: relative;
        margin-top: 30px;
    }
    
    .implant-q-a p {
        padding-bottom: 20px;
    }
    
    .implant-q-a:after {
        content: "";
        height: 1px;
        width: 100%;
        background-color: #D4D4D4;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    .implant-docs {
        margin-bottom: 80px;
    }
    
    .implant-doc {
        margin: 0 15px;
    }
    
    .implant-doc-photo {
        margin: 40px auto 20px auto;
    }
    
    .implant-doc-name {
        font-weight: 700;
        font-size: 1.125em;
        line-height: 150%;
        text-align: center;
    }
    
    .implant-doc-position {
        font-weight: 600;
        font-size: 0.75em;
        text-align: center;
        color: #00779C;
        margin: 10px auto;
        height: 30px;
    }
    
    .implant-rating-title {
        font-size: 0.63em;
        font-weight: 600;
        line-height: 150%;
    }
    
    .implant-doc-description {
        font-weight: 400;
        font-size: 0.875em;
        line-height: 150%;
        height: 300px;
    }
    
    .implant-rating-review {
        white-space: nowrap;
        font-size: 0.63em;
        font-weight: 600;
        line-height: 150%;
    }
    
    .implant-rating-grade-number {
        font-weight: 700;
        font-size: 1.6em;
    }
    
    .implant-rating-number {
        font-weight: 700;
        color: #00779C;
    }
    
    .implant-rating {
        display: flex;
        justify-content: space-between;
    }
    
    .implant-rating-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .implant-rating-stars {
        background-position: right;
        background-repeat: no-repeat;
        width: 80px;
        height: 16px;
        margin-left: 10px;
    }
    
    .implant-rating-stars-1 {
        background-image: url(../icon/small-rating-1.png);
    }
    
    .implant-rating-stars-2 {
        background-image: url(../icon/small-rating-2.png);
    }
    
    .implant-rating-stars-3 {
        background-image: url(../icon/small-rating-3.png);
    }
    
    .implant-rating-stars-4 {
        background-image: url(../icon/small-rating-4.png);
    }
    
    .implant-rating-stars-5 {
        background-image: url(../icon/small-rating-5.png);
    }
    
    .implant-rating-grade-number {
        color: #00A5C2;
        font-weight: 700;
    }
    
    .implant-reviews-wrapper {
        margin-bottom: 70px;
    }
    
    .implant-review {
        padding: 0 10px;
    }
    
    .implant-review-name {
        font-weight: 700;
        font-size: 1.125em;
        line-height: 150%;
        margin: 0 auto 20px auto;
    }
    
    .implant-review-description {
        height: 300px;
        font-weight: 400;
        font-size: 0.875em;
    }
    
    .button-wide {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    
    .implant-banner-bottom {
        background-image: url('../picture/bottom-banner.png');
    }
    
    .implant-banner-bottom-content {
        margin-left: 8.6%;
        margin-top: 70px;
        width: 50%;
    }
    
    .implant-banner-bottom-content form {
        width: 240px;
        margin-bottom: 10px;
    }
    
    .iplant-example-lable {
        display: flex;
        background: #333333;
        border-radius: 20px;
        color: #00C9EA;
        justify-content: space-between;
    }
    
    .iplant-example-lable-before {
        color: #00C9EA;
        width: 40px;
    }
    
    .iplant-example-lable-after {
        color: #00C9EA;
        width: 60px;
    }
    
    @media (max-width: 960px) {
        .implant-banner-bottom-content {
            margin-top: 0px;
        }
        .implant-banner h2 {
            font-weight: 700;
            font-size: 2.325em;
        }
    }
    
    @media (max-width: 767px) {
        .implant-banner-top-content {
            margin-left: calc(8.5% - 15px);
        }
        .implant-inner-block {
            padding-right: calc(8.5% - 15px);
            padding-left: calc(8.5% - 15px);
        }
        .implant-inner-block.imlant-color-block {
            padding: 0 8.5%;
            margin-left: -15px;
            margin-right: -15px;
        }
        .implant-price {
            margin-left: -15px;
            margin-right: -15px;
        }
        .implant-price>li>.implant-price {
            margin-left: -15px;
            margin-right: 0;
        }
        .implant-stages {
            flex-direction: column;
        }
        .implant-stage:nth-of-type(even) {
            margin: 20px 0;
        }
        .implant-icon-testimony-list {
            flex-direction: column;
        }
        .implant-type {
            padding-bottom: 0;
        }
        .implant-type:not(:last-child)::after {
            width: calc(100% + 30px);
            left: -15px;
        }
        .implant-type-description {
            height: auto;
        }
        .implant-type .implant-type-photo,
        .implant-type .implant-type-name,
        .implant-type .implant-type-description,
        .implant-type .implant-type-price {
            padding-bottom: 20px;
            text-align: center;
        }
        .implant-q-a:after {
            width: calc(100% + 30px);
            left: -15px;
        }
        .implant-banner-bottom-content {
            margin-top: 0px;
        }
    }
    
    @media (max-width: 450px) {
        .implant-banner-top-content {
            width: 100%;
            margin-top: 30px;
            margin-left: calc(8.5% - 30px);
        }
        .implant-banner-bottom-content {
            width: 100%;
            margin-top: 30px;
            margin-left: calc(8.5% - 30px);
        }
        .implant-banner h2 {
            font-weight: 700;
            font-size: 1.625em;
        }
        .implant-banner-bottom-content {
            margin-left: 3.6%;
        }
        .implant-reviews-wrapper {
            margin-bottom: 0px;
        }
        .implant-banner-bottom-content {
            margin-top: 0px;
        }
        .implant-banner-bottom {
            background-image: none;
            background-color: #DEE4F4;
        }
        .implant-banner-top {
            background-image: none;
            background-color: #DEE4F4;
        }
        .implant-icon-testimony-item {
            margin: 0 auto 30px auto;
        }
        .inplant-video-info {
            margin-bottom: 20px;
        }
        .implant-banner-bottom-content {
            margin-top: 0px;
        }
    }